@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

main {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: relative;
  width: 100%;
  height: 65px;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    90deg, 
    #672280 1.18%, 
    #A626D3 100%
  );
}

.navbar h4 {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  position: absolute;
  right: 80px;
}

.form {
  width: 500px;
  margin: 0 20px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
}

.form__input {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  font-family: 'Inter', sans-serif;
  text-indent: 5px;
}

.form__button {
  border-radius: 5px;
  grid-column: 1 / -1;
  background: linear-gradient(
    90.41deg, 
    #711F8D 1.14%, 
    #A818DA 100%
  );
    color: white;
    cursor: pointer;
    border: none;
}

.meme {
  position: relative;
}

.meme__img {
  max-width: 500px;
  margin-top: 20px;
  border-radius: 5px;
}


.meme__text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0px;
}

.top {
  top: 20px;
}